<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.system.mapper.MenuMapper">

    <select id="findUserMenus" resultType="cn.tycoding.system.entity.Menu">
        select m.*
        from tb_role r
               left join tb_user_role ur on (r.id = ur.role_id)
               left join tb_user u on (u.id = ur.user_id)
               left join tb_role_menu rm on (r.id = rm.role_id)
               left join tb_menu m on (m.id = rm.menu_id)
        where u.username = #{username}
          and m.perms is not null
          and m.perms != ''
    </select>

    <!--
        select a.id from (select id from tb_menu where parent_id in (1, 2)) a;
        select id from tb_menu where parent_id in (1, 2);
        上述两种方式都能查询出来parent_id是(1,2)的记录行的id值。而第一种方式是先生成一张临时表a，再查询id值

        update tb_menu
        set parent_id = 0
        where id in (select a.id
                     from (select id from tb_menu where parent_id in (1, 2)) a);

        update tb_menu
        set parent_id = 0
        where id in (select id from tb_menu where parent_id in (1, 2));
        若执行后者发现：You can't specify target table 'tb_menu' for update in FROM clause，
        百度查到是由于mysql不能对一张表查询到某些值就同时更新这张表，通过生成一张临时表来避免这个问题
     -->
    <update id="changeTopNode">
        update tb_menu
        set parent_id = 0
        where id in (select a.id
        from (select id from tb_menu where parent_id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        ) a);
    </update>

</mapper>