<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>404</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div th:replace="common/common_css :: common_css"></div>
</head>
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">

        <!-- aside -->
        <div th:replace="common/side :: side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="common/header :: header"></div>

            <!-- main -->
            <el-main class="app-main">
                <h2>我是主页</h2>
                <hr/>
                {{info}}
            </el-main>
        </el-container>
    </div>
</div>
<div th:replace="common/common_js :: common_js"></div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
