<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>后台首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div th:replace="common/css"></div>
</head>
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">

        <!-- aside -->
        <div th:replace="common/side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="common/header"></div>

            <!-- main -->
            <el-main class="app-main">
                <el-card>
                    <h2>Permission - 一个权限管理项目</h2>
                    <b>项目地址：</b> <a href="https://github.com/TyCoding/permission" target="_blank" style="color:#409EFF">https://github.com/TyCoding/permission</a>
                    <br/>
                    <br/>
                    <b>博客地址：</b> <a href="https://tycoding.cn/" target="_blank" style="color:#409EFF">https://tycoding.cn/</a>
                    <br/>
                    <br/>
                    <b>欢迎star,fork 给作者一些鼓励</b>
                    <hr/>
                    {{info}}
                </el-card>
            </el-main>
        </el-container>
    </div>
</div>
<div th:replace="common/js"></div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
